@media (max-width: 610px) and (min-width: 489.98px) {
  .reg-container {
    padding: 1.5rem !important;
  }
}

@media (max-width: 490px) {
  .reg-container {
    padding: 0 !important;
  }

  #form {
    width: 100% !important;
    min-width: unset;
  }

  .reg-container .form-cont {
    width: 100%;
  }
}
