@media (max-width: 1200px) {
  /* Services Section */
  .services-cards {
    gap: 4rem;
  }

  .services-container .services-cards .left .t-services .service-line {
    right: -2.15rem;
  }

  .services-container .services-cards .right .t-services .service-line {
    left: -2.15rem;
  }

  .services-container .services-cards .t-services {
    gap: 1.5rem !important;
  }

  /* Testimonials */
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 6 / 4;
  }
}

@media (max-width: 992px) {
  /* Hero Section */
  .hero-container .img {
    width: 80%;
    height: 28.125rem;
    margin-top: 5rem;
  }

  .hero-container .img img {
    width: 100%;
  }

  .hero-container {
    align-items: center;
  }

  .hero .content {
    width: 90%;
    text-align: center;
  }

  /* Partners Section */
  .partners-container {
    gap: 2rem;
  }

  /* Mission Section */
  .mission-container .video video {
    width: 60%;
  }

  .mission-container .content {
    text-align: center;
    align-items: center;
  }

  /* Services Section */
  .services-cards {
    gap: 3rem;
  }

  .services-cards .left,
  .services-cards .right {
    gap: 3rem;
  }

  .services-container .services-cards .t-services {
    margin: 0;
    gap: 3rem !important;
  }

  .services-container
    .services-cards
    .left
    .t-services:nth-child(1)
    .service-line {
    height: calc(100% + 1.5rem) !important;
  }

  .services-container
    .services-cards
    .left
    .t-services:not(:first-child)
    .service-line {
    height: calc(100% + 3rem) !important;
    top: -1.5rem;
  }

  .services-container
    .services-cards
    .right
    .t-services:last-child
    .service-line {
    height: calc(100% + 1.5rem) !important;
    bottom: 0;
  }

  .services-container
    .services-cards
    .right
    .t-services:not(:last-child)
    .service-line {
    height: calc(100% + 3rem) !important;
    top: -1.5rem;
  }

  .services-container .services-cards .t-services .service-line {
    left: -2.15rem;
  }

  .services-container .services-cards .t-services .service-line .circle {
    top: calc(50% - 0.75rem);
  }

  /* Features Section */
  .features-container .content {
    text-align: center;
  }

  .features-container .cards {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .features-container .cards .progress-card {
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }

  /* CTA section */
  .cta-container {
    width: 90%;
  }

  /* Testimonials */
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 4 / 3;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    padding: 2rem 1rem 1rem;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card::after {
    top: -13rem;
    width: 135%;
  }
}

@media (max-width: 800px) {
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 7 / 3;
  }
}

@media (max-width: 680px) {
  /* Hero Section */
  .hero-container .img {
    width: 90%;
  }

  /* CTA section */
  .cta-container {
    padding: 1.5rem !important;
  }

  .cta-container .content {
    width: 100%;
  }

  .testimonials-container .testimonials-box .swiper-btn {
    display: none;
  }

  .testimonials-container .testimonials-box .content-slide {
    margin: 0 !important;
  }

  /* Mission Section */
  .mission-container .video video {
    width: unset;
  }
}

@media (max-width: 565px) {
  /* Services Section */
  .services-container .services-cards .t-services .service-line {
    left: 0 !important;
  }

  /* Testimonials */
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 6 / 3.8;
  }
}

@media (max-width: 480px) {
  /* Hero Section */
  section.hero {
    margin-top: 0rem !important;
  }

  .hero-container .img {
    width: 100%;
  }

  .hero-container .img .circle {
    width: 7.625rem;
    height: 7.625rem;
  }

  .hero-container .img .circle h3 {
    font-size: 1.5rem;
  }
  .hero-container .img .circle p {
    font-size: 0.6rem;
  }

  .hero .content {
    width: 100%;
    text-align: center;
    padding: 0rem;
    margin-top: 3rem;
  }

  .hero-container .content .title h1 {
    font-size: 2.75rem;
  }

  /* Services Section */
  .services-container {
    padding: 1rem !important;
  }

  /* Testimonials */
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 6 / 5;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card .stars {
    padding: 1rem 2.25rem;
  }

  .testimonials-container
    .testimonials-box
    .card-wrapper
    .rev-card
    .content
    .rev
    p {
    margin: 1.5rem 0;
    font-size: 1.125rem;
  }

  .testimonials-container
    .testimonials-box
    .card-wrapper
    .rev-card
    .content
    .rev
    i:first-child {
    top: -1.5rem;
  }

  .testimonials-container
    .testimonials-box
    .card-wrapper
    .rev-card
    .content
    .rev
    i:last-child {
    bottom: -1.5rem;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card::after {
    height: 17rem;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card .stars i {
    font-size: 1.125rem;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    padding: 3rem 1rem 1rem;
  }

  .testimonials-container .testimonials-box .card-wrapper .rev-card::after {
    top: -12rem;
  }
}

@media (max-width: 380px) {
  /* public */
  .main-title {
    font-size: 2.25rem;
  }

  /* Hero Section */
  .hero-container .img img {
    border-radius: 37% 41% 11% 72% / 33% 36% 48% 47%;
  }

  /* Mission Section */
  .mission-container .images .mission-img {
    width: 100%;
  }

  .mission-container .content p {
    font-size: 1rem;
  }

  /* Features Section */
  .features-container {
    padding: 1rem !important;
  }

  /* Testimonials */
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 6 / 7;
  }
}

@media (max-width: 350px) {
  /* Testimonials */
  .testimonials-container .testimonials-box .card-wrapper .rev-card {
    aspect-ratio: 6 / 8;
  }
}
