/* Animation style */
.left-animate,
.left-side-animated {
  transform: translateX(-150%);
}

.right-animate,
.right-side-animated {
  transform: translateX(150%);
}

/* Hero Section */
.hero {
  padding: 2rem 5rem 5rem;
}

/* Product Research Section */
.research-container .text-side .description p {
  font-size: 1.125rem;
  line-height: 1.5;
}

#submit {
  min-width: 10rem;
  padding: 0.7rem 1rem;
}

#submit .spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit .close {
  display: none;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: var(--light-dark);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: var(--white);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

#messages {
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
  width: 35rem;
  height: 10rem;
  z-index: 999999999;
}

#messages p {
  margin: 0;
}

#messages .success,
#messages .unsuccess {
  background: var(--background-color);
  padding: 0.875rem;
  border-radius: 1rem;
  top: 0;
  transition: 0.2s ease;
}

#messages .success {
  border: 2px solid var(--success);
}

#messages .unsuccess {
  border: 2px solid var(--danger);
}

#messages .success.active,
#messages .unsuccess.active {
  top: 115%;
}

#messages .success .caption {
  color: var(--success);
}

#messages .unsuccess .caption {
  color: var(--danger);
}

.product-research {
  overflow-x: hidden;
}
