/* Navbar */
header {
  background: var(--background-color);
}

.header-container .top {
  background-color: var(--secondary-color);
}

.header-container .top a {
  color: var(--main-text-color);
  font-weight: 500;
  transition: 0.3s ease;
}

.header-container .top a:hover,
.header-container .bottom .navbar nav a:hover {
  color: var(--hover-color);
}

.header-container .bottom {
  padding: 1rem 4rem;
}

.header-container .bottom .navbar nav {
  gap: 2rem;
}

.header-container .bottom .navbar nav a {
  letter-spacing: 1px;
  color: var(--main-text-color);
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.header-container .bottom .navbar .dropdown-services .services-menu {
  width: 35rem;
  background: var(--background-color);
  border: 2px solid var(--accent);
  box-shadow: 0 0 5px #0000001a;
  top: 400%;
  left: 0;
  z-index: 10;
  transition: 0.6s ease;
  opacity: 0;
  visibility: hidden;
}

.header-container .bottom .navbar .dropdown-services .services-menu.active {
  top: 256%;
  opacity: 1;
  visibility: visible;
}

.header-container .bottom .navbar .dropdown-services .services-menu a {
  font-weight: 500;
  transition: 0.3s ease;
}

.header-container .bottom .navbar .dropdown-services .services-menu li {
  transition: 0.3s ease;
}

.header-container .bottom .navbar .dropdown-services .services-menu li:hover {
  background-color: var(--accent);
}

.header-container .bottom .navbar .dropdown-services .services-menu li:hover a {
  color: var(--hover-color);
}

.hamburger {
  cursor: pointer;
}

.hamburger svg {
  height: 3rem;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--second-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger.active svg {
  transform: rotate(-45deg);
}

.hamburger.active svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
