/* Navbar */
header {
  background: var(--background-color);
}

.header-container .top {
  background-color: var(--secondary-color);
}

.header-container .top a {
  color: var(--main-text-color);
  font-weight: 500;
  transition: 0.3s ease;
}

.header-container .top a:hover,
.header-container .bottom .navbar nav a:hover {
  color: var(--hover-color);
}

.header-container .bottom {
  padding: 1rem 4rem;
}

.header-container .bottom .navbar nav {
  gap: 2rem;
}

.header-container .bottom .navbar nav a {
  letter-spacing: 1px;
  color: var(--main-text-color);
  font-weight: 500;
  transition: 0.3s ease;
}

.header-container .bottom .navbar .dropdown-services .services-menu {
  width: 35rem;
  background: var(--background-color);
  border: 2px solid var(--accent);
  box-shadow: 0 0 5px var(--accent);
  top: 400%;
  left: 0;
  z-index: 10;
  transition: 0.6s ease;
  opacity: 0;
  visibility: hidden;
}

.header-container .bottom .navbar .dropdown-services .services-menu.active {
  top: 256%;
  opacity: 1;
  visibility: visible;
}

.header-container .bottom .navbar .dropdown-services .services-menu a {
  font-weight: 500;
  transition: 0.3s ease;
}

.header-container .bottom .navbar .dropdown-services .services-menu li {
  transition: 0.3s ease;
}

.header-container .bottom .navbar .dropdown-services .services-menu li:hover {
  background-color: var(--accent);
}

.header-container .bottom .navbar .dropdown-services .services-menu li:hover a {
  color: var(--hover-color);
}

.hamburger {
  cursor: pointer;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3rem;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--second-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger.active svg {
  transform: rotate(-45deg);
}

.hamburger.active svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Header responsive */
@media (max-width: 992px) {
  /* Header */
  .header-container .bottom .navbar nav {
    width: 100%;
  }

  .header-container .bottom .navbar {
    position: fixed;
    right: 4rem;
    top: 30%;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    min-width: 25rem;
    border-radius: 0.5rem;
    background: var(--second-background);
    box-shadow: 0px 0px 15px 5px #0000002e;
    transition: 0.4s ease;
  }

  .header-container .bottom .navbar.active {
    opacity: 1;
    visibility: visible;
    top: 15%;
  }

  .header-container .bottom .navbar .dropdown-services .services-menu {
    right: 0;
    left: unset;
    max-height: 25rem;
    overflow-y: auto;

    /* Custom scrollbar styling */
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
  }

  /* Webkit scrollbar styling for Chrome, Safari, Edge */
  .header-container
    .bottom
    .navbar
    .dropdown-services
    .services-menu::-webkit-scrollbar {
    width: 6px;
  }

  .header-container
    .bottom
    .navbar
    .dropdown-services
    .services-menu::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
  }

  .header-container
    .bottom
    .navbar
    .dropdown-services
    .services-menu::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 3px;
    transition: background 0.3s ease;
  }

  .header-container
    .bottom
    .navbar
    .dropdown-services
    .services-menu::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
  }
}

@media (max-width: 720px) {
  .header-container .bottom .navbar .dropdown-services .services-menu {
    width: 25rem;
  }
}

@media (max-width: 576px) {
  .header-container .bottom {
    padding: 1rem;
  }

  .header-container .bottom .navbar .dropdown-services .services-menu {
    right: -3rem;
    width: 22rem;
  }

  .header-container .bottom .navbar {
    right: 1rem;
    min-width: 20rem;
  }

  .header-container .top {
    justify-content: center !important;
  }

  .header-container .bottom .navbar.active {
    top: 18%;
  }
}

@media (max-width: 380px) {
  .header-container .bottom .navbar {
    padding: 3rem 1rem !important;
    min-width: 18rem;
  }

  .public-btn {
    font-size: 0.8rem;
    max-width: 15rem;
  }

  .header-container .bottom .navbar .dropdown-services .services-menu {
    width: 19rem;
    right: -1rem;
  }
}
