/* Hero Section */
.hero-container {
  padding: 1rem 1rem 2rem;
}

.hero-container.left-animate,
.hero-container.right-animate {
  opacity: 0;
}

.hero-container .content .title h1 {
  font-size: 3em;
}

.hero-container .content .title h3 {
  font-size: 2.25rem;
  letter-spacing: 2px;
}

.hero-container .content .text p {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

section.hero .circle-01 {
  width: 90%;
  background: var(--second-background);
  height: 100%;
  left: -10%;
  top: -10%;
  z-index: -29;
  border-radius: 0% 100% 58% 42% / 79% 0% 100% 21%;
}

section.hero .circle-02 {
  width: 60%;
  height: 100%;
  right: 0;
  top: -20%;
  z-index: -50;
  background: #dddddd1c;
}

/* Blogs section */
.blogs-container {
  padding: 2rem 2rem;
}

.blogs-container p,
.blogs-container h2 {
  margin: 0;
}

.blogs-container .blog-card {
  opacity: 0;
  transition: 0.3s ease;
}

.blogs-container .blog-card.animate__jello {
  opacity: 1;
}
