@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
button {
  font-family: "Tajawal", Sans-serif !important;
}

/* Hero section */
.hero {
  max-height: 60dvh;
  position: relative;
}

.hero-container .event-logo {
  width: 12rem;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.5));
}

.hero-container .title img {
  width: 7rem;
}

.hero-container .logos img:first-child {
  width: 12rem;
}

.hero-container .logos img {
  width: 15rem;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.5));
}

/* Registration Section */
.reg-container h2 {
  color: #006cff;
}

.reg-container .form {
  width: 75%;
}

.reg-container .form form {
  gap: 2rem;
}

.reg-container .form form .form-control {
  height: 3rem;
}

.reg-container .form form .form-control:focus {
  border-color: #006cff;
  box-shadow: 0 0 0 0.25rem #00f1f4;
}

.reg-container .form form .form-label {
  font-size: 1rem;
}

.reg-container .form form .form-outline {
  text-align: start;
}

#gender {
  width: 13rem;
  justify-content: space-between;
}

#gender label {
  margin: 0;
}

#gender input {
  -webkit-appearance: none;
  appearance: none;
  /* remove default */
  display: flex;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
    inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
  background-color: hsla(0, 0%, 0%, 0.2);
  background-image: -webkit-radial-gradient(
    hsla(200, 100%, 90%, 1) 0%,
    hsla(200, 100%, 70%, 1) 15%,
    hsla(200, 100%, 60%, 0.3) 28%,
    hsla(200, 100%, 30%, 0) 70%
  );
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
    -webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1);
  transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
    transform 0.25s cubic-bezier(0.8, 0, 1, 1);
  outline: none;
}

#gender input:checked {
  -webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

#gender input:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
}

/* The up/down direction logic */

#gender input,
#gender input :active {
  background-position: 0 24px;
}

#gender input:checked {
  background-position: 0 0;
}

#gender input:checked ~ #gender input,
#gender input:checked ~ #gender input:active {
  background-position: 0 -24px;
}

#submit,
.public-btn {
  width: 15rem;
  border: #00d4d6;
  margin: 0 auto;
  font-weight: 700;
  line-height: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0px 38px 0px 38px;
  background: linear-gradient(to right, #043efd, #00d4d6);
  border-radius: 56px;
}

.public-btn:hover::before,
.public-btn:hover::after {
  display: none;
}

.public-btn:hover {
  scale: unset;
  border: unset;
}

#submit:active {
  background-color: var(--hover-color);
  border: var(--hover-color);
}

#submit.disabled {
  background: linear-gradient(to right, #043efd, #00d4d6);
  border: #00d4d6;
}

.registration .icon {
  right: -5%;
  top: 30%;
  opacity: 0.1;
  transform: scale(1.1) rotate(20deg);
  scale: 1.1;
}
