/* Hero Section */
.hero-container {
  padding: 4rem 1rem;
}

.hero-container .img {
  border-radius: 46% 54% 19% 81% / 38% 42% 58% 62%;
  min-height: 500px;
}

.hero-container .img img {
  border-radius: 46% 54% 19% 81% / 38% 42% 58% 62%;
}

.hero-container .img .circle {
  width: 10.375rem;
  height: 10.375rem;
  color: var(--secondary-color);
}

.hero-container .img .circle p {
  font-size: 0.875rem;
}

.hero-container .img .circle h3 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-container .img .circle.circle-01 {
  background: var(--primary-color);
  left: 0;
  top: -3rem;
}

.hero-container .img .circle.circle-02 {
  background-color: var(--dark);
  right: 0;
  top: -3rem;
}

.hero-container .img .circle.circle-03 {
  background-color: var(--dark);
  bottom: 0;
  left: 3rem;
}

.hero-container .img .circle.circle-04 {
  background: var(--primary-color);
  right: 0;
  bottom: -3rem;
}

.hero-container .content {
  gap: 2rem;
  padding: 2rem;
}

.hero-container .content .title h1 {
  font-size: 3.25rem;
  line-height: 110%;
}

.hero-container .content p {
  color: var(--light-dark);
  font-size: 1.125rem;
}

/* Partners section */
.partners {
  background: var(--secondary-color);
}

.partners-container {
  padding: 5rem;
  gap: 4rem;
}

.partners-container .partner {
  width: 10rem;
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid var(--second-color);
  filter: grayscale(5);
  transition: 0.3s ease;
}

.partners-container .partner img {
  aspect-ratio: 1 / 1;
  transition: 0.3s ease;
}

.partners-container .partner:hover img {
  transform: scale(1.1);
}

.partners-container .partner:hover {
  filter: grayscale(0);
}

/* Our Mission section */
.mission-container .content p {
  color: var(--light-dark);
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.mission-container .images {
  min-height: 50dvh;
}
.mission-container .images .mission-img {
  max-width: 19rem;
  border-radius: 1rem;
  overflow: hidden;
}

.mission-container .images .mission-img:nth-child(1) {
  z-index: -1;
  top: 5%;
  left: 4%;
  max-width: 21rem !important;
}

.mission-container .images .mission-img:nth-child(2) {
  z-index: 1;
  right: 5%;
  top: -10%;
}

.mission-container .images .mission-img:nth-child(3) {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 0;
}

/* Services section */
section.services {
  background-color: var(--secondary-color);
}

.service-description {
  color: var(--light-dark);
}

.services-container .services-cards .service-card {
  width: 23rem;
  padding: 1.5rem;
  background: #1d1b201c;
  backdrop-filter: blur(66px);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.16);
  transition: 0.6s ease;
}

.services-container .services-cards .service-card .icon i {
  color: var(--white);
  font-size: 2.2rem;
}

.services-container .services-cards .service-card .icon {
  width: 5rem;
  border: 2px solid var(--primary-color);
  height: 5rem;
  border-radius: 50%;
  background: #fe983d7d;
  backdrop-filter: blur(40px);
}

.services-container .services-cards .service-card .icon svg {
  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
}

.services-container .services-cards .service-card .content .title h2 {
  font-size: 1.75rem;
}

.services-container
  .services-cards
  .service-card
  .content
  .text-bx
  .public-btn {
  box-shadow: unset;
}

.services-container .services-cards .service-card:hover {
  transform: rotate(2deg) scale(1.05);
  box-shadow: 0 0 20px #00000029;
}

.services-container .services-cards .service-card p {
  color: var(--light-dark);
}

/* Features section */
.features-container .content .text-box .feature h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.features-container .cards {
  min-height: 70dvh;
}

.features-container .cards .progress-card {
  width: 17.8125rem;
  height: 18.375rem;
  background: var(--dark);
  border-radius: 1rem;
  color: var(--secondary-color);
  box-shadow: 5px 5px 15px var(--dark);
}

.features-container .cards .progress-card:nth-child(2),
.features-container .cards .progress-card:nth-child(3) {
  background: var(--primary-color);
}

.features-container .cards .progress-card:nth-child(1) {
  left: 8%;
  top: 15%;
  z-index: 1;
}

.features-container .cards .progress-card:nth-child(2) {
  right: 6%;
  top: 15%;
  z-index: 1;
}

.features-container .cards .progress-card:nth-child(3) {
  left: 13%;
  top: calc(15% + 15.375rem);
  z-index: 0;
}

.features-container .cards .progress-card:nth-child(4) {
  right: 1%;
  top: calc(15% + 15.375rem);
  z-index: 0;
}

.features-container .cards .progress-card h3 {
  font-size: 3.25rem;
}

.features-container .cards .progress-card p {
  font-size: 1.25rem;
}

.features-container .content p {
  color: var(--light-dark);
}

/* CTA section */
section.cta {
  margin: 6rem 0;
}

.cta-container {
  max-width: 1240px;
  margin: auto;
  background-color: var(--second-background);
  border-radius: 1rem;
  box-shadow: 0px 0px 70px 8px #0000001a;
}

.cta-container .content {
  width: 65%;
}

.cta-container .content p {
  color: var(--light-dark);
}
