/* HERO SECTION */

.hero {
  padding: 5rem;
  background-color: var(--dark);
}

.primary-heading {
  max-width: 20rem;
  color: var(--white);
}

/* Podcasts section */
.podcasts-container {
  padding: 2rem 2rem;
}

.podcasts-container p,
.podcasts-container h2 {
  margin: 0;
}
